<div class="container py-4" >
    <h4 class="card-header">Product Details</h4>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="hasLoaded">
        
        <!-- card -->
        <div class="row my-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Name</h6>
                        <input formControlName="product_name" type="text" class="card-text form-control" value="{{product.product_name}}"
                            [readonly]="cantEdit" >
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Details</h6>
                        <input formControlName="product_details" type="text" class="card-text form-control"
                            value="{{product.product_details}}" [readonly]="cantEdit">
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row my-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Currency</h6>
                        <input formControlName="currency" type="text" class="card-text form-control" value="{{product.currency}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Discount Percent</h6>
                        <input formControlName="discount_percent" type="number" class="card-text form-control" value="{{product.discount_percent}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Quantity in stock</h6>
                        <input formControlName="quantity_in_stock" type="number" class="card-text form-control" value="{{product.quantity_in_stock}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Video</h6>
                        <input formControlName="product_video" type="text" class="card-text form-control" value="{{product.product_video}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            
            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Unit</h6>
                        <input formControlName="product_unit" type="text" class="card-text form-control" value="{{product.product_unit}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>

            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Price</h6>
                        <input formControlName="product_price" type="number" class="card-text form-control"
                            value="{{product.product_price}}" [readonly]="cantEdit">
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Active</h6>
                        <input formControlName="active" type="text" class="card-text form-control" value="{{product.active}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Product Category ID</h6>
                        <input formControlName="product_category_id" type="text" class="card-text form-control" value="{{product.product_category_id}}"
                            readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block buttons" *ngIf="cantEdit" (click)="canEdit()">Edit Product
                    Details</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-block btn-danger" type="button" *ngIf="cantEdit" (click)="onDelete()">Delete</button>
            </div>
                  
            <div class="col-sm-6">
                <button class="btn btn-block btn-primary" type="submit" *ngIf="!cantEdit">Submit</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-block btn-secondary" type="button" *ngIf="!cantEdit"
                    (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>