<div class="container py-4">
    <span></span>
    <button class="btn btn-light" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 10 20">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
        Products
    </button>
</div>
<div class="container py-4" >
    <h4 class="card-header">Product Details</h4>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="hasLoaded">
        
        <!-- card -->
        <div class="row my-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Name</h6>
                        <input formControlName="name" type="text" class="card-text form-control" value="{{product.product_name}}"
                            [readonly]="cantEdit" >
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Details</h6>
                        <input formControlName="details" type="text" class="card-text form-control"
                            value="{{product.product_details}}" [readonly]="cantEdit">
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row my-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Currency</h6>
                        <input formControlName="currency" type="text" class="card-text form-control" value="{{product.currency}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Discount Percent</h6>
                        <input formControlName="discount_percent" type="number" class="card-text form-control" value="{{product.discount_percent}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Quantity in stock</h6>
                        <input formControlName="quantity_in_stock" type="number" class="card-text form-control" value="{{product.quantity_in_stock}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Video</h6>
                        <input formControlName="video" type="text" class="card-text form-control" value="{{product.product_video}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            
            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Unit</h6>
                        <input formControlName="unit" type="text" class="card-text form-control" value="{{product.product_unit}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>

            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Price</h6>
                        <input formControlName="price" type="number" class="card-text form-control"
                            value="{{product.product_price}}" [readonly]="cantEdit">
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Active</h6>
                        <input formControlName="active" type="text" class="card-text form-control" value="{{product.active}}"
                            [readonly]="cantEdit">
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-muted">Product Category ID</h6>
                        <input formControlName="product_category_id" type="text" class="card-text form-control" value="{{product.product_category_id}}"
                            readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block buttons" *ngIf="cantEdit" (click)="canEdit()">Edit Product
                    Details</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-block btn-danger" type="button" *ngIf="cantEdit" (click)="onDelete()">Delete</button>
            </div>
                  
            <div class="col-sm-6">
                <button class="btn btn-block btn-primary" type="submit" *ngIf="!cantEdit">Submit</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-block btn-secondary" type="button" *ngIf="!cantEdit"
                    (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>