<div class="row">
  <a routerLink="./create" class="btn btn-success">Add a product</a>
</div>

<div class="row my-3" *ngIf="hasLoaded">  
  <div class="card col-md-4" *ngFor="let product of products">
    <img class="card-img-top" [src]="product.cover_image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.product_name}}</h5>
      <p class="card-text">{{product.product_details}} </p>
      <p class="card-text"> {{product.currency}} {{product.product_price}} </p>
      <a class="btn btn-primary" routerLink="./detail/{{product.product_id}}">View Details</a>
    </div>
  </div>
</div>