<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- step 1 -->
          <div class="step1">
            <h3>Account Details</h3>
            <div class="form-group">
              <div class="form-row">
                <!-- seller name -->
                <div class="col">
                  <label class="sr-only">First Name</label>
                  <input
                    type="text"
                    formControlName="name"
                    placeholder="Name"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.name.errors
                    }"
                  />
                </div>
                <!-- seller name error -->
                <div
                  *ngIf="submitted && f.name.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.name.errors.required">
                    Name is required
                  </div>
                </div>
               
              </div>
            </div>
            <!-- email -->
            <div class="form-group">
              <label class="sr-only">Email</label>
              <input
                type="text"
                formControlName="email"
                placeholder="Email Address"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <!-- phone -->
            <div class="form-group">
              <label class="sr-only">Phone Number</label>
              <input
                type="number"
                formControlName="phone"
                placeholder="Phone Number"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f.phone.errors
                }"
              />

            </div>
            <!-- password -->
            <div class="form-group">
              <label class="sr-only">Password</label>
              <input
                type="password"
                formControlName="password"
                placeholder="Password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="f.password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <!-- confirm password -->
            <div class="form-group">
              <label class="sr-only">Confirm Password</label>
              <input
                type="password"
                formControlName="password_confirmation"
                placeholder="Confirm Password"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f.password_confirmation.errors
                }"
              />
              <div
                *ngIf="submitted && f.password_confirmation.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password_confirmation.errors.required">
                  Confirm Password is required
                </div>
                <div *ngIf="f.password_confirmation.errors.mustMatch">
                  Passwords must match
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
