<div class="container py-4">
  <h4 class="card-header">Account Details</h4>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <!-- card -->
    <div class="row my-3">
            
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Email</h5>
            <p class="text-muted">{{seller.email}}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row my-3">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Name</h5>
            <input formControlName="name" type="text" class="card-text form-control" value="John" [readonly]="cantEdit" [autofocus]="autofocus">
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Phone Number</h5>
              <input formControlName="phone" type="number" class="card-text form-control" value="254798" [readonly]="cantEdit">
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3 ">
      <button class="btn btn-primary btn-block buttons" *ngIf="cantEdit" (click)="canEdit()">Edit Account Details</button>
      <div class="col-sm-6">
        <button class="btn btn-block btn-primary" type="submit" *ngIf="!cantEdit">Submit</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-block btn-secondary" type="button" *ngIf="!cantEdit" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
